body {
  //  background: linear-gradient(135deg, hsl(115, 54%, 25%), hsl(227,61%, 26%), hsl(227, 61%, 39%));
  background: linear-gradient(135deg, hsl(120, 2%, 37%), rgb(24, 24, 27), hsl(240, 3%, 17%));
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
